@import "~scss/variables";
@import "~scss/mixins";

$sw-text-editor-toolbar-button-child-shadow: rgba(120, 138, 155, 0.5);
$sw-text-editor-toolbar-button-arrow-shadow: rgba(120, 138, 155, 0.5);

.sas-menu-set {
  position: relative;
}