<div class="sas-menu-popover" v-clickoutside="onMenuHide">
    <div class="sas-menu-item sas-menu-set-toggle">
        <button class="menu-item" @click="onMenuToggle">
            <svg class="remix">
                <use :xlink:href="icons + `#ri-${icon}`" />
            </svg>
        </button>
    </div>

    <div v-if="visible" class="sw-text-editor-toolbar-button__children sw-text-editor-toolbar-button__link-menu">
        <slot></slot>
    </div>
</div>