<div class="sas-tiptap-editor" v-if="editor">
    <sas-menu-bar class="sas-tiptap-editor__header" :editor="editor" />
    <editor-content class="sas-tiptap-editor__content" :editor="editor" />
</div>
